<!-- <form action = "/posts" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="title" />
  <textarea name = "content" placeholder="내용을 입력하세요"></textarea>
  <input type="submit" value="작성완료"/>
</form> -->

<%= form_tag("/posts", method: "post") do %>
  <%= text_field_tag("post[title]") %>
  <%= text_area_tag("post[content]") %>
  <%= submit_tag %>
<% end %>
